h1 {
    font-family: Helvetica;
    color: red;
    font-size: 50px;
    text-align: right;
  }
  
  h2 {
    font-family: Monaco;
    color: seagreen;
    font-size: 40px;
    border: 9px dotted gray;
    text-align: center;
  }
  
  p {
    font-family: Comic Sans MS;
    font-size: 30px;
    background-color: black;
    color: white;
  }
  
  div {
    color: blue;
  }
  
  span {
    color: yellow;
    text-decoration: underline;
    font-style: italic;
  }
  
  ol {
    list-style: upper-roman;
  }
  
  ul {
    list-style: square;
  }
  
  li {
    color: brown;
  }